/***********************
 * Essential Structure *
 ***********************/

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--input-wrapper {
	overflow: hidden;
}



/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 100px;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

/***********************
 * Advanced Searchbar  *
 ***********************/

.advancedSearchBox {
    display: block;
    position: relative;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    min-height: 40px;
    padding: 0 9px;
    background-color: #fff;
    cursor: text;
    line-height: 38px;
  width: 100%;
  padding: 0 15px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

    .advancedSearchBox.active {
        border-color: #66afe9;
    }

    .advancedSearchBox .search-icon {
        float: right;
        line-height: 1.5;
    }

    .advancedSearchBox .remove-all-icon {
        float: right;
        cursor: pointer;
        line-height: 1.5;
    }

    .advancedSearchBox .search-input {
        display: inline-block;
        width: auto;
        background-color: inherit;
        border: 0;
    }

        .advancedSearchBox .search-input:focus {
            box-shadow: none;
            outline: none;
        }

