/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 100px;
	overflow: hidden;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

/***********************
 * Advanced Searchbar  *
 ***********************/

.advancedSearchBox {
  display: block;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  min-height: 40px;
  padding: 0 9px;
  background-color: #fff;
  cursor: text;
  line-height: 38px;
  padding: 0 15px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

    .advancedSearchBox.active {
        border-color: #66afe9;
    }

    .advancedSearchBox .search-icon {
        float: right;
        line-height: 1.5;
    }

    .advancedSearchBox .remove-all-icon {
        float: right;
        cursor: pointer;
        line-height: 1.5;
    }

    .advancedSearchBox .search-input {
        width: 90%;
        display: inline-block;
        background-color: inherit;
        border: 0;
    }

        .advancedSearchBox .search-input:focus {
            box-shadow: none;
            outline: none;
        }

