<div data-ng-hide="listDisplayModeEnabled">
  <ul class="book-list">
      <li class="book-list" data-ng-repeat="bk in books">
      <img class="cover-image" ng-src="{{bk.cover}}" orientable>
        <div class="cover">
            <div class="cover-overlay">
              <span ng-if="location.path() != '/hordemind'" ng-click="deleteBook(bk._id)"class="del noselect">&#10006;</span>
            </div>
            <span ng-if="location.path() == '/hordemind'" class="rank">{{bk.rank}}</span>
        </div>
        <a ng-href="{{bk.url}}" target="_blank">
          <strong class="Title" title="{{bk.title}}">{{bk.title}}</strong>
        </a>
        <small class="Author">{{bk.author}}</small>
      </li>
  </ul>
</div>

