<div data-ng-hide="listDisplayModeEnabled">
  <ul class="book-list">
      <li class="book-list" data-ng-repeat="bk in books">
        <img class="cover-image" src="assets/images/alc.jpg">
        <div class="cover">
            <div class="cover-overlay">
              <span ng-if="location.path() != '/hordemind'" ng-click="deleteBook(bk._id)"class="del noselect">&#10006;</span>
            </div>
            <span ng-if="location.path() == '/hordemind'" class="rank">{{bk.id}}</span>
        </div>


        <strong class="Title" title="{{bk.title}}">{{bk.title}}</strong>
        <small class="Author">{{bk.author}}</small>
      </li>
  </ul>
</div>

