<div class="customers view indent">
  <div class="alert alert-info" role="alert" ng-show="pageMessage" text-align: "center">{{pageMessage}}</div>
  <div class="flexsearch">
      <div class="flexsearch--wrapper">
          <div class="flexsearch--input-wrapper">
            <search-bar></search-bar>
          </div>
      </div>
  </div>

  <br>

  <ul class="booksearch container" ng-show="searching">
    <li class="thumbnail">
      <img ng-src="assets/images/preloader.gif" alt="preloader" class="loader" ></img>
    </li>
  </ul>


  <ul class="booksearch container" ng-show="searchReturn">
    <li ng-repeat="book in searchResults" class="thumbnail"  >
      <a ng-click="addBook(book.ID)">{{book.Title}}</a>
      <p>{{book.Author}}</p>
    </li>
  </ul> 

  <div ng-hide="searchReturn">
    <div class="pgn">
      <view-selecter></view-selecter>
      <img ng-show="loading" ng-src="assets/images/preloader.gif" alt="preloader" class="loader"></img>
      <list-view></list-view>
    </div>
    <cover-view></cover-view>
  </div>
</div>
