<div class="alert alert-info" role="alert" ng-show="pageMessage" text-align: "center">{{pageMessage}}</div>
<div class="flexsearch">
    <search-bar></search-bar>
</div>

<br>
<div class="search-results">
  <ul class="ca-menu" ng-show="searching">
    <li>
        <div class="spinner"> </div>
    </li>
  </ul>

  <ul class="ca-menu" ng-show="searchReturn">
    <li ng-repeat="book in searchResults">
      <a ng-click="addBook(book.ID)">
        <span class="ca-icon glyphicon glyphicon-heart"></span>
        <div class="ca-content">
          <h2 class="ca-main" title="{{book.Title}}"> {{book.Title}} </h2>
          <h3 class="ca-sub" > {{book.Author}}</h3>
        </div>
      </a>
    </li>
  </ul> 
</div>

<div>
  <div class="pgn">
    <view-selecter></view-selecter>
      <div ng-show="loading" class="spinner"> </div>
    <list-view></list-view>
  </div>
  <cover-view></cover-view>
</div>
